.btn
  border: none
  cursor: pointer
  padding: 8px 14px
  border-radius: 3px
  font-size: 12px
  line-height: normal
  color: #000
  display: inline-block
  background-color: transparent
  &-success
    background: #1976d2
    color: #fff

