.data-block
  position: relative
  display: block
  margin-bottom: 10px
  &__title
    margin-bottom: 5px
  &__value-place
    border: 0
    border-bottom: 1px solid #646464
    padding: 3px 5px
    display: inline-block
    width: 100%
    max-width: 100%
    min-width: 100%
    font-family: Arial, Helvetica, sans-serif
    &:focus
      background: #eee
      outline: none