.result-list
  &__elem
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
    padding: 10px
    &:first-child
      border-top: 0
    &-title
      font-size: 20px
      margin-bottom: 5px
.value-list
  font-size: 12px
  &__elem
    margin-bottom: 5px
    &-title
      font-weight: bold
      margin-bottom: 3px
